.hypotext-content {
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-right: 20px dotted;
}
a.hypotext {
  border-bottom: 1px solid;
}
.hypotext-content .close:before {
  content: "close";
  font-size: 0.7em;
  margin-right: 5px;
  border-bottom: 1px dotted;
}
a.hypotext.close {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1em;
  border: none;
}